<!--이미 로그인 상태임을 알리는 모달(로그인 페이지 접속 시)-->
<div class="modal modal-sm fade d-block align-content-center" id="loginStatusModal" tabindex="-1" aria-labelledby="loginStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="loginStatusModalLabel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                    </svg>
                    Notice</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                         <p>이미 로그인 상태입니다.</p><p>로그아웃 후 진행하세요.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary light" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<!--로그아웃 상태임을 알리는 모달 (회원 메뉴 접속 시)-->
<div class="modal modal-sm fade d-block align-content-center" id="logoutStatusModal" tabindex="-1" aria-labelledby="logoutStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="logoutStatusModalLabel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                    </svg>
                    Notice</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <p>회원만 이용 가능한 서비스입니다.</p><p>로그인 페이지로 이동합니다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success light" data-bs-dismiss="modal">확인</button>
                <button type="button" class="btn btn-outline-secondary light" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
