<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{fragment/header}"></div>
</head>
<body>
<div class="d-flex" id="wrapper">

    <!-- Sidebar-->
    <div th:insert="~{fragment/sidebar}"></div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">

        <!-- Page content-->
        <div class="container-fluid mt-5">
            <div class="col-xl-12">
                <div class="row align-items-center">
                    <div class="card login-card border-0">
                        <div class="card-body d-flex justify-content-center">
                            <div class="col-xl-6">
                                <div class="auth-form">
                                    <h3 class="text-start mb-4 font-w600">로그인</h3>
                                    <form id="login-form">
                                        <div class="form-group mb-3">
                                            <label class="mb-1 text-black">ID<span class="required">*</span></label>
                                            <input type="text" class="form-control login-input" id="user-log-id" autocomplete="off">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="mb-1 text-black">Password<span class="required">*</span></label>
                                            <input type="text" style="-webkit-text-security: disc;" class="form-control login-input" id="user-log-pw" autocomplete="off">
                                        </div>
                                        <div class="form-row mt-4 mb-4 small">
                                            <div class="form-check d-flex align-items-center justify-content-evenly flex-wrap">
                                                <div class="mb-1">
                                                    <input type="checkbox" class="form-check-input" id="auto_login">
                                                    <label class="custom-control-label ms-1 text-secondary" for="auto_login">자동 로그인</label>
                                                </div>
                                                <div class="mb-1">
                                                    <input type="checkbox" class="form-check-input" id="remember_id" checked>
                                                    <label class="custom-control-label ms-1 text-secondary" for="remember_id">아이디 저장</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-outline-success btn-block">로그인</button>
                                        </div>
                                    </form>
                                    <div class="d-none mt-3 text-danger login-fail">
                                        <p>존재하지 않는 회원입니다.</p>
                                        <p>아이디 또는 비밀번호를 다시 확인하세요.</p>
                                    </div>
                                    <div class="d-none mt-3 text-danger more-info">
                                        <p>정보를 모두 입력 후 시도하세요.</p>
                                    </div>
                                    <div class="new-account mt-5 d-flex align-items-center justify-content-between flex-wrap">
                                        <a class="kakao-login">
                                            <img th:src="@{/images/kakao_login_small.png}"/>
                                        </a>
                                        <div>
                                            <small><a onclick="goFindForm('id');">아이디 찾기</a></small>
                                            &nbsp/&nbsp
                                            <small><a onclick="goFindForm('pw');">비밀번호 찾기</a></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragment/common-script}"></div>

<script>

    function init() {
        // 자동 로그인 확인하기
        if(SAVED_AUTO_LOGIN !== null) {
            isAutoLoginBefore();
        }

        // 세션만 닫은 경우 기존 회원 리프레시 존재 여부 찾아서 로그인 시키기
        else if(USER_ID !== null && USER_LOG_ID !==null) {
            existsPrevRefresh();
        }

        /** 아이디 기억하기의 경우 마지막 로그인한 ID 보여주기 */
        else if(SAVED_USER_LOG_ID !== null) {
            _userLogId.classList.add('border-primary');
            _userLogId.value = SAVED_USER_LOG_ID;
        }
    }

    const loginInputs = document.querySelectorAll('.login-input');  // 아이디, 비밀번호 input
    const _userLogId = document.querySelector('#user-log-id');        // 아이디 input
    const _userLogPw = document.querySelector('#user-log-pw');        // 아이디 input
    const loginForm = document.querySelector('#login-form');        // 로그인 폼
    const autoLogin = document.querySelector('#auto_login');      // 자동로그인
    const rememberId = document.querySelector('#remember_id');      // 아이디 기억하기

    /** 자동 로그인 여부에 따라 처리 */
    async function isAutoLoginBefore() {
        try {
            const response = await fetch('/api/login/auto-login', {
                headers: {
                    'Authorization' : `Basic ` + btoa(SAVED_AUTO_LOGIN),
                    // btoa를 통해 userLogId를 Base64로 인코딩하여 보낸다.
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            });

            console.log('response : ', response);

            if(response.ok) {
                const user = await response.json();
                localStorage.setItem('userId', user.userId);
                localStorage.setItem('userLogId', user.userLogId);

                setRememberId(rememberId.checked, user.userLogId);

                location.href = '/user/profile';
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    /** 세션 닫아도 리프레시 존재하는 경우 로그인 처리 */
    async function existsPrevRefresh() {
        try {
            const refreshTokenResponse = await checkRefreshToken();

            console.log(refreshTokenResponse.status);

            if (refreshTokenResponse.ok) {
                console.log('refreshToken 존재!');
                // 리프레시 토큰으로 access 생성 후 다시 기능 시도
                location.href = '/user/profile';
            } else {
                console.error('Failed to refresh token:', refreshTokenResponse.status);
                // goLoginAgain();
                throw new Error('Unable to refresh token');
            }
        } catch(error) {
            console.error('Error : ', error);
        }
    }

    /** 로그인 정보 입력 시 input에 파란 테두리 적용 */
    inputBorderPrimary(loginInputs);

    /** 아이디 또는 비밀번호 찾기 페이지로 이동 */
    function goFindForm(findTarget) {
        window.location.href = `/login/find/${findTarget}`;
    }

    /** 로그인 버튼 클릭 */
    loginForm.addEventListener('submit', (e) => {
        e.preventDefault(); // 기본 제출 동작 방지

        let allInputsValid = true;
        loginInputs.forEach((input) => {
            if (!input.classList.contains('border-primary')) {
                allInputsValid = false;
            }
        });

        if (!allInputsValid) {
            const moreInfoElement = document.querySelector('.more-info');
            moreInfoElement.classList.remove('d-none'); // d-none 제거

            // 5초 후 다시 d-none 추가
            setTimeout(() => {
                moreInfoElement.classList.add('d-none');
            }, 3000);

            return;
        }

        login();
    });

    /** 로그인 진행 */
    async function login() {
        try {
            const response = await fetch('/api/login/auth-user', {
                method: 'POST',
                headers: {
                    'Authorization' : `Basic ` + btoa(_userLogId.value),
                    // btoa를 통해 userLogId를 Base64로 인코딩하여 보낸다.
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    userLogPw: _userLogPw.value,
                    rememberMe: rememberId.checked,
                    autoLogin: autoLogin.checked
                })
            });

            console.log('response : ', response);

            if (!response.ok) {
                document.querySelector('.login-fail').classList.remove('d-none');
                throw new Error('Network response was not ok');
                /*
                    throw 경고!
                    "예외를 던지는 것을 일반적인 제어 흐름으로 사용하지 말라"
                    예외 상황에서 throw를 사용하긴 하나...
                    로컬 코드 흐름 제어에 사용하면 가독성이나 서능 문제가 발생할 수 있기 때문이다.

                    해당 코드에서는 네트워크 오류 시 throw를 던지기에 문제는 없지만
                    경고를 없애고 싶다면 return을 사용해서 오류 처리를 할 수도 있다.
                * */
            }

            const user = await response.json();
            localStorage.setItem('userId', user.userId);
            localStorage.setItem('userLogId', user.userLogId);
            localStorage.setItem('loginType', GENERIC);

            setRememberId(rememberId.checked, user.userLogId);
            setAutoLogin(autoLogin.checked, user.userLogId);

            location.href = '/user/profile';
        } catch (error) {
            console.error('Error:', error);
        }
    }

    /** 아이디 기억하기 기록 */
    function setRememberId(check, logId) {
        if(check) {
            localStorage.setItem('savedUserLogId', logId);
        } else {
            localStorage.removeItem('savedUserLogId');
        }
    }

    /** 자동 로그인 기록 */
    function setAutoLogin(check, logId) {
        if(check) {
            console.log('자동 로그인 저장');
            localStorage.setItem('savedAutoLogin', logId);
        } else {
            console.log('자동 로그인 삭제');
            localStorage.removeItem('savedAutoLogin');
        }
    }

    /** 카카오 로그인 */
    document.querySelector('.kakao-login').addEventListener('click', () => {
        location.href = '/oauth/kakao/code';
    });

    window.onload = init;
</script>

</body>
</html>

